environment:
  nodejs_version: "8"

platform:
  - x64
  - x86

branches:
  only:
    - master

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install
  - ps: .\appveyor.ps1

test_script:
  - npm test

build: off
